body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-image: url("matcha-bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    color: #5e734e;
}

.container{
    width: 60%;
    height: 60%;
    border-radius: 30px;
    background-color: #ddc7ad;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 0 100px rgba(255, 255, 255, 0.2)  ; 
}
.login{
    /* border: 1px red solid; */
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login h2{
    color: #5e734e;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: -5px;
}
.login-input{
    width: 80%;
    height: 50%;
    border-radius: 30px;
    text-indent: 10px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    
}
#forgot-details{
    color: black;
    margin: 5px;
}
#forgot-details:hover{
    color: white;
}
#login-button{
    width: 40%;
    height: 20%;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #5e734e;
    color: black;
}
#login-button:hover{
    background-color: #3c4932
}

hr.round{
    width: 90%;
    padding-top: 0px;
    border-top: 5px solid #5e734e;
    border-radius: 5px;
}

.alt-login{
    /* border: 1px blue solid; */
    width: 50%;
    height: 35%;
    color: #5e734e;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.alt-login span{
    padding-top: 10px;
    margin-bottom: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
.alt-login button{
    width: 40%;
    height: 60%;
    border-radius: 30px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#google-button{
    background-color: #dd4b39;
}
#google-button:hover{
    background-color: #c53727;
}
#facebook-button{
    background-color: #3b5998;
}
#facebook-button:hover{
    background-color: #2d4373;
}
#x-button{
    background-color: black;
    color: white;
}
#x-button:hover{
    background-color: rgb(99, 98, 98);
}

.side{
    width: 50%;
    height: 100%;
    /* background-color: #3c4932; */

    background-image: url("blackBG-matcha-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;

    display: flex;
    justify-content: center;
}